body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 64px;
    text-align: center;
    color: blue;
}

#grid {
    height: 640px;
    width: 640px;
    border: 5px solid black;
}

#row {
    display: flex;
    flex-direction: row;
}

#pixel {
    
    border: 1px solid black;
}

.unhovered {
    background-color: transparent;
}


.hovered, .clicked {
    background-color: black;
}



#selected {
    background-color: black;
}